html {
    font-family: "Lucida Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

p {
  margin:20px;
}

h4{
  position: relative;
  text-align: center;
}

@media all  and (min-width: 992px) {
  section {
  border: 1px solid black;
  background-color:grey;
  margin: 20px;
  float: left;
  width: 29%;
 
}
    
}

@media all and (min-width: 768px) and (max-width:991px) {
  section {
  border: 1px solid black;
  background-color:grey;
  margin: 20px;
  float: left;
  width: 33.3%;
}

div section{
  border: 1px solid black;
  background-color:grey;
  margin: 20px;
  float: left;
  width: 71.5%;
}

    
}

@media all and (min-width: 0px) and (max-width: 767px) {
  section {
  border: 1px solid black;
  background-color:grey;
  margin: 20px;
  float: left;
  width: 95%;
}

}

h1 {
  position: relative;
  font-size: 200%;
  margin-top: 0;
  text-align: center;
  border: 1px solid black;
  padding: 1%;
  width: 40%;
  left: 60%;
  background-color:red;
  font-size: 200%;
  overflow: hidden;

}

h2 {
  position: relative;
  font-size: 200%;
  top: 0;
  left: 60%;
  margin-top: 0;
  text-align: center;
  border: 1px solid black;
  width: 40%;
  padding: 1%;
  background-color:yellow;

}
h3 {
  position: relative;
  font-size: 200%;
  top: 0;
  left: 60%;
  margin-top: 0;
  text-align: center;
  border: 1px solid black;
  width: 40%;
  padding: 1%;
  background-color:green;
  position: relative;

}